<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar" id="nav-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">KAZPOST Monitor</h1>
  </mat-toolbar>
  
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
      <!--  <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
      <a mat-list-item routerLink="/monitoring"><mat-icon>language</mat-icon> {{fillerNav[0]}}</a>
      <a mat-list-item routerLink="/finance"><mat-icon>title</mat-icon> {{fillerNav[1]}}</a>
      <a mat-list-item routerLink="/post"><mat-icon>picture_in_picture</mat-icon> {{fillerNav[2]}}</a>
      <a mat-list-item routerLink="/agent"><mat-icon>sms</mat-icon> {{fillerNav[3]}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>




<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->