
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">

				<mat-expansion-panel>
				  <mat-expansion-panel-header>
				    <mat-panel-title>
				      Personal data
				    </mat-panel-title>
				    <mat-panel-description>
				      Type your name and age
				    </mat-panel-description>
				  </mat-expansion-panel-header>

				  <mat-form-field>
				    <input matInput placeholder="First name">
				  </mat-form-field>

				  <mat-form-field>
				    <input matInput placeholder="Age">
				  </mat-form-field>
				</mat-expansion-panel>

				<ol class="breadcrumb" id="mon-breadcrump">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">Library</a></li>
				  <li class="active">Data</li>
				</ol>

				<mat-tab-group class="demo-tab-group">
				  <mat-tab label="Карта">
				    <div class="demo-tab-content">
				      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
				      Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
				      In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
				      feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
				      orci enim rutrum enim, vel tempor sapien arcu a tellus.
				    </div>
				  </mat-tab>
				  <mat-tab label="Услуги">
				    <div class="demo-tab-content">
				      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
				      Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
				      In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
				      feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
				      orci enim rutrum enim, vel tempor sapien arcu a tellus.
				    </div>
				  </mat-tab>
				  <mat-tab label="Сроки">
				   <div class="demo-tab-content">
				      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
				      Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
				      In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
				      feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
				      orci enim rutrum enim, vel tempor sapien arcu a tellus.
				      <br />
				      <br />
				      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
				      Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
				      In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
				      feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
				      orci enim rutrum enim, vel tempor sapien arcu a tellus.
				    </div>
				  </mat-tab>
				  <mat-tab label="Нагрузка">
				    No content
				  </mat-tab>
				  <mat-tab label="Доходы">
				    No content
				  </mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>
